stages:
  - retrieve-branches
  - identify-repos
  - cleanup
  - generate-release-notes
  - upgrade-galaxy
  - link-checker
get-branches:
  stage: retrieve-branches
  image: alpine:latest
  before_script:
    - apk add --no-cache github-cli jq bash coreutils
  script:
    - |
      RELEASES=$(gh api "repos/kubernetes-sigs/kubespray/branches?per_page=100" --paginate \
        | jq -r '.[].name | select(test("^release-[0-9]+\\.[0-9]+$"))' \
        | sort -V -r | head -n 4 | tr '\n' ' ')

      echo "LATEST_RELEASES=\"master $RELEASES\"" > build.env
  artifacts:
    reports:
      dotenv: build.env
  variables:
    GH_TOKEN: $gh_token

get-removed-repos:
  stage: identify-repos
  image: python:3.9-slim
  script:
    - pip install requests
    - python compare-images.py
  artifacts:
    reports:
      dotenv: build.env

do-cleanup:
  stage: cleanup
  image: alpine:latest
  script:
    - |
      for REPO in $REPOS_TO_DELETE; do
          echo "Deleting image: quay.io/kubespray/vm-$REPO"
      done

run-automated-upgrade-galaxy:
  stage: upgrade-galaxy
  image: ubuntu:latest
  variables:
    GIT_DEPTH: 0
  script:
    - |
      apt update
      apt install -y git
      chmod +x upgrade-galaxy.sh
      ./upgrade-galaxy.sh

broken-links-checker:
  stage: link-checker
  image: ubuntu:latest
  before_script:
    - apt-get update
    - apt-get install -y curl ca-certificates
  script:
    - curl -L -o lychee.tar.gz https://github.com/lycheeverse/lychee/releases/download/lychee-v0.23.0/lychee-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf lychee.tar.gz lychee
    - chmod +x lychee
    - mv lychee /usr/local/bin/lychee
    - lychee --verbose --root-dir . --exclude-path '.git' .
