stages:
  - retrieve-branches
  - identify-stale
  - cleanup

get-branches:
  stage: retrieve-branches
  image: alpine:latest
  before_script:
    - apk add --no-cache github-cli jq bash coreutils
  script:
    - |
      RELEASE_BRANCHES=$(gh api "repos/kubernetes-sigs/kubespray/branches?per_page=100" --paginate \
        | jq -r '.[].name | select(test("^release-[0-9]+\\.[0-9]+$"))' \
        | sort -V -r \
        | head -n 4)
      echo "LATEST_RELEASES=master $RELEASE_BRANCHES" > build.env
  artifacts:
    reports:
      dotenv: build.env
  variables:
    GH_TOKEN: $gh_token

get-removed-repos:
  stage: identify-stale
  image: python:3.9-slim
  script:
    - pip install requests
    - python compare-images.py
  artifacts:
    reports:
      dotenv: build.env

do-cleanup:
  stage: cleanup
  image: alpine:latest
  script:
    - echo "The repos to be removed:"
    - |
      if [ -z "$REPOS_TO_DELETE" ]; then
        echo "No repos identified for deletion."
      else
        for REPO in $REPOS_TO_DELETE; do
          echo "Deleting image: quay.io/kubespray/vm-$REPO"
        done
      fi